fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
python-multipart==0.0.9
scikit-learn
joblib
numpy
pandas
scipy
librosa
praat-parselmouth
noisereduce
soundfile
webrtcvad
moviepy
imbalanced-learn
xgboost
lightgbm
matplotlib
seaborn
torch
transformers
SpeechRecognition
pydub
gdown
apscheduler
pymongo
